@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    font-family: "Poppins", system-ui, sans-serif;
  }
}

:root {
  font-family: "Poppins", system-ui, 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-1: #2A2A2A;
  --color-2: #D91C26;
  --color-3: #F58021;
  --color-4: #024FA3;
  --color-5: #00ADEF;
  --color-6: #5B5B5B;
  --color-7: #CDEDFF;
  --bg-0: #F4F7FF;
  --bg-1: #A2B9CF;
  --bg-2: #F58021;
  --bg-3: #f7f8f9;
  --bg-4: #024FA3;
  --button-bg-primary: #F58021;
  --button-bg-secondary: #024FA3;
  --shadow-sticky: 0 12px 10px -10px rgba(0, 0, 0, 0.12);
  --default-shadow: 4px 4px 8px 0px #0000001A;
  --site-primary-font: 'Open Sans';
  --site-secondary-font: 'Poppins';
}

body {
  margin: 0;
  line-height: inherit;
  overflow: hidden;
  overflow-y: auto;
  color: #050708;
  font-family: var(--primary-font-family);
}

#booking-page-root {
  height: 100%;
}

.max-w-container {
  max-width: 85rem;
}

.max-w-screen-sm {
  max-width: 640px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-family: var(--site-secondary-font);
  font-size: 38px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: -0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.before-border-image {
  position: relative;
}

.before-border-image:before {
  background-image: var(--bg-image-url);
}

.custom-password-field>div {
  width: 100%;
}

.custom-password-field input.p-password-input {
  border: unset;
  width: 100%;
  outline: unset;
  box-shadow: unset;
}

.pac-container {
  z-index: 9999;
}

.p-checkbox {
  width: 35px;
  height: 35px;
}

.p-checkbox-box {
  width: 35px;
  height: 35px;
  border: 1px solid #A2B9CF;
  background-color: #F4F7FF;
}

.p-checkbox.p-variant-filled.p-highlight .p-checkbox-box {
  background: #024FA3;
}

.custom-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media(max-width: 767px) {
  h2 {
    font-size: 28px;
    line-height: 38px;
  }

  .preview-col-wrap,
  .mobile-flex-col {
    flex-direction: column;
  }
}